@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: white;

    background-color: #0b1120;

    background-image:
        linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

    background-size: 80px 80px;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 70px;

}

.logo {
    font-size: x-large;
    cursor: pointer;
}

.nav-items {
    display: flex;
    gap: 32px;
    font-weight: 500;

    li {
        list-style: none;
        cursor: pointer;
    }
}

.content {
    padding: 0 90px;
}

.footer {
    padding: 0 90px;
}