<div class="footer-section container">
    <p>All rights reserved. Hope Sain &copy; {{ time.Now.Year }}</p>
    <div class="social-links">
        <a href="https://github.com/hopesain" target="_blank"><img src="/images/socials/github.png" alt="github-logo"></a>
        <a href="https://x.com/HopeSain" target="_blank"><img src="/images/socials/x.png" alt="x-logo"></a>
        <a href="https://www.linkedin.com/in/hopesain/" target="_blank"><img src="/images/socials/linkedin.png" alt="linkedin-logo"></a>
    </div>
</div>