<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope Sain</title>

    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>
    <header class="header">
        {{ partial "header.html" . }}
    </header>

    <main class="content">
        <button onclick="sayHello()">Button</button>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente unde ipsam sit soluta non consequatur quisquam. Delectus illo quo reprehenderit minus veritatis eaque, cupiditate, officia, tempora reiciendis repudiandae debitis error?
    </main>

    <footer class="footer">

    </footer>

    <script src="{{ "js/scripts.js" | relURL }}"></script>
</body>
</html>