<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope Sain</title>

    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
</head>
<body>
    <header class="header">
        {{ partial "header.html" . }}
    </header>

    <main class="content">
        <div class="hero-section">
            <div class="profile-image-section">
                <img src="/images/profile/portfolio-profile.jpg" alt="portfolio-profile-image">
            </div>

            <div class="profile-summary">
                <p class="hero-title">Hello, I'm Hope Sain</p>

                <p class="hero-description">
                    Computer programmer from Malawi focused on high-performance
                    software and resilient systems.
                </p>
                
                <div class="social-links">
                    <a href="/resume/Hope-Sain-Resume.pdf" target="_blank"><button class="resume-button">Resume</button></a>
                    <a href="https://github.com/hopesain" target="_blank"><img src="/images/socials/github.png" alt="github-logo"></a>
                    <a href="https://x.com/HopeSain" target="_blank"><img src="/images/socials/x.png" alt="x-logo"></a>
                    <a href="https://www.linkedin.com/in/hopesain/" target="_blank"><img src="/images/socials/linkedin.png" alt="linkedin-logo"></a>
                </div>

            </div>

        </div>
    </main>

    <footer class="footer">

    </footer>

    <script src="{{ "js/scripts.js" | relURL }}"></script>
</body>
</html>