{{ define "main" }}
    <div class="contact-page container">
        <div class="contact-information">
            <p>Contact Form</p>
        </div>

        <div class="interests">
            <div class="interest-item">
                <p class="interest-title">Innovation and Product Development</p>
                <p class="interest-description">
                    I enjoy working on ideas from concept to implementation. 
                    My work revolves around technology, design and domain knowledge to turn critical problems into working products.
                </p>
            </div>

            <hr>

            <div class="interest-item">
                <p class="interest-title">Software Engineering</p>
                <p class="interest-description">I design and build software systems across web, backend, AI, and embedded applications. 
                    Whether it's a new product, an internal tool, or a technical challenge, 
                    I'm interested in creating solutions that are practical, reliable, and useful.
                </p>
            </div>

            <hr>

            <div class="interest-item">
                <p class="interest-title">Collaborations</p>
                <p class="interest-description">Are you interested in discussing a project, opportunity, research idea, startup, or simply connecting?  
                    Feel free to reach out.
                </p>
            </div>

            <hr>

            <div class="interest-item">
                <p class="interest-title">Agricultural Research & Innovations</p>
                <p class="interest-description">Agriculture remains one of my core interests.  
                    I enjoy exploring research, project development, and innovative approaches that help address challenges within agricultural sector.</p>
            </div>

            <hr>

        </div>

    </div>
    
{{ end }}